[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-restframework = "*"
environs = "*"
dj-database-url = "*"
djangorestframework = "*"
gunicorn = "*"
coverage = "*"
PyJWT = "*"
django-heroku = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
google-api-python-client = "*"
Pillow = "*"
psycopg2 = "*"
django-cors-headers = "*"
django-filter = "*"
django-taggit = "*"
Faker = "*"
social-auth-app-django = "*"
django-allauth = "*"

[dev-packages]

[requires]
python_version = "3.8"
