[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-restframework = "*"
environs = "*"
dj-database-url = "*"
djangorestframework = "*"
gunicorn = "*"
coverage = "*"
pyjwt = "*"
django-allauth = "*"
django-heroku = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
google-api-python-client = "*"

[dev-packages]

[requires]
python_version = "3.8"
